[Desktop Entry]
Encoding=UTF-8
Name=Barnacoin
Comment=Barnacoin P2P Cryptocurrency
Comment[fr]=Barnacoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Barnacoin, eşten eşe kriptografik sanal para birimi
Exec=barnacoin-qt %u
Terminal=false
Type=Application
Icon=barnacoin128
MimeType=x-scheme-handler/barnacoin;
Categories=Office;Finance;
